* {
	padding: 0px;
	margin: 0px;
}

header, footer{
    background-color : gray;
}

nav ul {
    display : flex;
    flex-wrap: nowrap;
    width : 100%;
    justify-content: space-around ;
    list-style: none;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    color : white;
    font-weight: bold;
    font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

nav li {
    list-style-type: none;
	display: inline-block;
	border: solid 1px;
	color:  rgb(255, 255,255);
    background-color: rgba(48, 48, 48, 0.4);
    font-size: 20px;
	padding: 20px;
	margin:  10px;
	transition: all 0.5s ease;
}

nav a:link, nav a:visited{
    display: block;
    text-decoration: none;
    margin-left: 10px;

}

.banniere {
	padding-top: 25px;
	padding-bottom: 25px;
    font-size: 20px;
}
.banniere h1, .banniere h2{
	text-align: center;
    background-color: lightcyan;
}

.recherche {
    background-color: lightgoldenrodyellow;
    height: 50px;
}
.suggestion {
    padding: 2%;
}

.film {
    width: 25%;
    display: inline-block;
    align-items: center;
}
article {
    margin: 2%;
    padding: 2%;
    height: 400px;
    width: 92%;
    display: inline-table;
    background-color: lightblue;
    text-align: center;
}
article h2 {
    font-size: 100%;
}
.img {
    max-height: 50%;
    max-width: 100%;
}


#connection{
    padding: 0.5em;
    margin : 0.5em; 
    width: auto;
    height: 2.5em;
    float: right;
}

div.location{
    margin: 40px;
}